* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "CenturyGothic";
  src: url(fonts/CenturyGothicStd.otf); }

@font-face {
  font-family: "CenturyGothic-Bold";
  src: url(fonts/CenturyGothicStd-Bold.otf); }

h1 {
  font-family: "CenturyGothic-Bold", "Century Gothic Bold", sans-serif;
  font-size: 3em; }

h2 {
  font-family: "CenturyGothic-Bold", "Century Gothic Bold", sans-serif;
  font-size: 2em; }

h3 {
  font-family: "CenturyGothic-Bold", "Century Gothic Bold", sans-serif;
  font-size: 1.4em; }

p {
  font-family: "CenturyGothic", "Century Gothic", sans-serif;
  margin: 0;
  font-size: 1em; }

p strong {
  font-family: "CenturyGothic-Bold", "Century Gothic Bold", sans-serif; }

.container-fluid {
  padding: 0; }

body {
  overflow-x: hidden; }

.ir-arriba {
  position: fixed;
  display: none;
  bottom: 2.5em;
  right: 1.7em;
  width: 3em;
  height: 3em;
  cursor: pointer;
  z-index: 15; }

/* BARRA DE NAVEGACION _________________________________ */
.navbar {
  background-color: white !important;
  padding: 1em 0;
  transition: 0.25s; }

.navbar-brand {
  margin: 0 0 0 3.5em;
  width: 10em;
  transition: 0.25s; }

#navb {
  margin: 0 4em 0 0; }
  #navb .navbar-toggler {
    margin: 0;
    padding: 0; }

.nav-item {
  font-family: "CenturyGothic", "Century Gothic", sans-serif;
  list-style: none; }

.nav-link {
  margin: 0 .1em;
  color: #7D3CC9 !important; }

.active, .nav-link:hover {
  color: #C7B5E2 !important; }

.navbar-toggler {
  margin: 0 1em 0 0;
  border: none !important; }

button:focus {
  outline: none !important; }

#contenido {
  margin: 5.8em 0 0 0; }

/* GENERICOS ___________________________________ */
#cnPromos, #cnServicios,
#cnAcerca {
  padding: 0 5em 5em 5em; }

#cnPromos #titulo,
#cnServicios #titulo, #cnAcerca #titulo {
  margin: 4em 0;
  text-align: center; }

#promos, #servicios, #acerca, #contacto {
  margin-top: -3em;
  padding-top: 3em; }

/* CARROUSEL ___________________________________ */
#cnCarr {
  height: 100%;
  padding: 5em 2em 3em 2em;
  background-color: #D5CAEF; }
  #cnCarr #rowcarr {
    margin: 2em auto 4em auto; }
  #cnCarr #imgcarr {
    margin: 0 2em 0 auto;
    max-width: 38em;
    min-width: 34em; }
  #cnCarr #coltitparr {
    margin: 3em auto 0 0;
    max-width: 26em;
    min-width: 15em; }
  #cnCarr .cnelemcarr .imgElim img {
    width: 100%;
    height: 100%; }

#cnbotonera {
  margin: 1em auto 2em auto;
  text-align: center; }

.btnbotonera {
  margin: 0 0.15em;
  width: 0.75em;
  border: none;
  background: none; }

.btnbotonera:focus {
  outline: none; }

/* PROMOCIONES ___________________________________ */
#cnPromos {
  background-color: #A07DC9; }
  #cnPromos h1, #cnPromos h2, #cnPromos p {
    color: white; }
  #cnPromos #elempromos {
    margin: 2em auto 8em auto; }
    #cnPromos #elempromos #titparbot {
      margin: 4em 2em 0 2em;
      max-width: 30em;
      min-width: 21em; }
      #cnPromos #elempromos #titparbot .titPromos, #cnPromos #elempromos #titparbot .parrPromos {
        text-align: center; }
    #cnPromos #elempromos #imgpromos {
      margin: 0 auto;
      max-width: 37em;
      min-width: 32em; }
      #cnPromos #elempromos #imgpromos img {
        width: 100%;
        height: 100%; }
  #cnPromos #elempromos:last-child {
    margin: 2em auto 5em auto; }
  #cnPromos .botSolic {
    margin-top: 1.75em;
    text-align: center; }

/* SERVICIOS ___________________________________ */
#cnServicios {
  background-color: #EFCA69; }
  #cnServicios h1, #cnServicios h2, #cnServicios p {
    color: #262626; }
  #cnServicios #titulo h1 {
    text-align: center; }
  #cnServicios #cnelemserv {
    margin: 2em auto; }
  #cnServicios #elemserv {
    margin-bottom: 3em;
    padding: 0 3em;
    min-width: 19em;
    max-width: 19em; }
    #cnServicios #elemserv img {
      width: 100%;
      height: 100%; }
    #cnServicios #elemserv h3, #cnServicios #elemserv p {
      text-align: center;
      margin: 0.6em 0 0 0; }
    #cnServicios #elemserv p {
      margin: 0.5em 0 0 0; }

/* ACERCA _____________________________________ */
#cnAcerca {
  background-color: #7D3CC9; }
  #cnAcerca h1, #cnAcerca h2, #cnAcerca p {
    color: white; }
  #cnAcerca h2 {
    font-size: 3em; }
  #cnAcerca #cnelimg {
    margin: 0 auto 0 auto;
    padding: 2.5em 0 0 2em; }
    #cnAcerca #cnelimg #imgelim {
      margin: 0 auto;
      max-width: 40em;
      min-width: 35em; }
    #cnAcerca #cnelimg #titpar {
      margin: 3em auto 0 auto;
      padding: 0 2.5em;
      max-width: 31.5em;
      min-width: 25em; }
    #cnAcerca #cnelimg img {
      width: 100%;
      height: 100%; }
  #cnAcerca #titulo h1 {
    text-align: center; }

#cnMaria {
  margin: 11em 0 5em 2em;
  max-width: 37em;
  min-width: 30em; }

/* CONTACTO ___________________________________ */
#cnContacto {
  background-color: #C7B5E2;
  padding: 0 5em 5em 5em; }
  #cnContacto #cnDato {
    margin: .3em 0 0 0;
    list-style: none; }
    #cnContacto #cnDato .col-1 {
      padding: 0; }
    #cnContacto #cnDato .col-11 {
      margin: 0;
      padding: 0 0 0 .5em; }
    #cnContacto #cnDato .imgDato {
      width: 2em; }
    #cnContacto #cnDato .imgDato img {
      width: 100%;
      height: 100%; }
  #cnContacto #titulo {
    margin: 4em 0 0 0;
    text-align: center; }
  #cnContacto #subtit {
    margin: 0 auto;
    min-width: 10em;
    max-width: 21em;
    font-size: 1.3em;
    text-align: center; }
  #cnContacto #cndatosyform {
    margin: 7em auto 1em auto; }
  #cnContacto #cnDatos {
    margin: 0 auto;
    min-width: 26em;
    max-width: 35em; }
    #cnContacto #cnDatos p {
      font-size: 1.4em !important;
      color: #262626; }
    #cnContacto #cnDatos a {
      font-size: 1.2em !important;
      color: #262626; }
    #cnContacto #cnDatos #cnDato p {
      font-size: 1.2em !important; }
  #cnContacto h1, #cnContacto h2, #cnContacto p {
    color: #262626; }
  #cnContacto #cnForm {
    margin: 0 auto;
    min-width: 31em;
    max-width: 35em; }
    #cnContacto #cnForm #frmcolbut {
      margin: 1em 0 0 0; }
    #cnContacto #cnForm button {
      width: 10em;
      height: 2.2em;
      padding: 0; }
  #cnContacto .col-form-label {
    font-size: .92em; }
  #cnContacto .form-control {
    font-size: .96em; }

/* FOOTER ___________________________________ */
#cnFooter {
  padding: .5em 0;
  background-color: #A07DC9;
  text-align: center;
  color: white; }
  #cnFooter .col-md {
    margin: 0 1em; }
  #cnFooter p {
    font-size: 0.8em; }
  #cnFooter a {
    text-decoration: none;
    text-align: center;
    color: white; }
    #cnFooter a:hover {
      color: white;
      text-decoration: underline; }
  #cnFooter img {
    width: 120px; }

/* MEDIA QUERIES ___________________________________ */
/* DESKTOP < 1136 */
@media screen and (max-width: 1136px) {
  #colfantasma {
    display: none; }
  #cnAcerca #cnelimg {
    padding: 2em 0; }
    #cnAcerca #cnelimg #imgelim {
      margin: 0 auto;
      max-width: 37em;
      min-width: 35em; }
    #cnAcerca #cnelimg #titpar {
      margin: 3em auto 0 auto;
      padding: 0;
      max-width: 35em;
      min-width: 25em;
      text-align: center; }
  #cnMaria {
    margin: 10em auto 5em auto;
    padding: 0 !important;
    max-width: 35em;
    min-width: 35em;
    text-align: center; } }

/* DESKTOP < 1087 */
@media screen and (max-width: 1087px) {
  #cnPromos #elempromos {
    margin: 2em auto 6em auto; }
    #cnPromos #elempromos #titparbot {
      margin-top: 2.75em;
      max-width: 100%; }
    #cnPromos #elempromos:last-child {
      margin: 2em auto 3em auto; }
  #cnContacto #cnDatos {
    margin: 0 auto 3em auto;
    min-width: 26em;
    max-width: 27em; }
  #cnContacto #cnForm {
    margin: 0 auto;
    min-width: 31em;
    max-width: 40em; } }

/* DESKTOP < 959 */
@media screen and (max-width: 959px) {
  #cnCarr #rowcarr {
    margin: 2em auto; }
  #cnCarr #imgcarr {
    margin: 0 auto 0 auto;
    max-width: 38em;
    min-width: 34em; }
  #cnCarr #coltitparr {
    margin: 3em 7em 0 7em;
    max-width: 100%;
    text-align: center; } }

/* DESKTOP < 782 */
@media screen and (max-width: 782px) {
  h3 {
    font-size: 2em; }
  #cnPromos, #cnServicios,
  #cnAcerca {
    padding: 0 2em 5em 2em; }
  #cnServicios #elemserv {
    margin: 0 auto 3em auto;
    padding: 0 auto;
    min-width: 20em;
    max-width: 30em; } }

/* TABLET */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.85em; }
  h2 {
    font-size: 1.9em !important; }
  p {
    font-size: .9em; }
  .ir-arriba {
    bottom: 2.7em;
    right: 0.4em;
    width: 2.3em;
    height: 2.3em; }
  #cnPromos #elempromos #titparbot {
    min-width: 0; }
  #cnCarr {
    height: 100%; }
    #cnCarr #rowcarr {
      margin: 0 auto 1.5em auto; }
    #cnCarr #imgcarr {
      margin: 0 auto 0 auto;
      max-width: 38em;
      min-width: 25em; }
    #cnCarr #coltitparr {
      margin: 3em 5em 0 5em;
      max-width: 100%;
      text-align: center !important; }
  #contenido {
    margin: 3.7em 0 0 0; }
  .navbar-brand {
    margin: 0 0 0 2em; }
  #navb {
    margin: 0 auto;
    text-align: center; }
    #navb .navbar-toggler {
      display: inherit;
      font-size: 1.5em; }
    #navb .nav-link {
      padding: .6em 0; }
    #navb #pr {
      margin: .6em 0 0 0;
      padding: .6em 0; }
    #navb #ul {
      margin: 0 0 .6em 0;
      padding: .6em 0; }
  #cnCarr {
    margin-top: 3.75em; }
  #cnPromos #elempromos #imgpromos {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 100%;
    min-width: 20em; }
  #cnServicios #cnelemserv {
    margin: 1em auto; }
  #cnServicios #elemserv {
    padding: 0 auto;
    min-width: 20em;
    max-width: 27em; }
  #cnAcerca #cnelimg {
    padding: 2em 0; }
    #cnAcerca #cnelimg #imgelim {
      margin: 0 auto;
      padding: 0 2em;
      max-width: 100%;
      min-width: 20em; }
    #cnAcerca #cnelimg #titpar {
      margin: 3em auto 0 auto;
      padding: 0 1.5em;
      max-width: 85%;
      min-width: 25em; }
  #cnMaria {
    margin: 6em auto 2.5em auto;
    padding: 0 1.5em !important;
    min-width: 20em;
    max-width: 85%; }
  #cnContacto {
    padding: 0 2em 3em 2em; }
    #cnContacto #cndatosyform {
      margin: 5em auto 1em auto; }
    #cnContacto #cnDatos {
      margin: 0 0 2.5em 0; }
    #cnContacto #cnForm {
      margin: 0 auto;
      min-width: 100%;
      max-width: 100%; }
  #cnFooter p {
    font-size: 0.75em; } }

/* SMARTPHONES */
@media screen and (max-width: 550px) {
  #cnPromos, #cnServicios,
  #cnAcerca {
    padding: 0 .4em 2em .4em; }
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.6em; }
  p {
    font-size: 0.9em; }
  #contenido {
    margin: 3.2em 0 0 0; }
  .ir-arriba {
    bottom: 2.7em;
    right: 0.5em;
    width: 2.5em;
    height: 2.5em; }
  #cnCarr {
    height: calc(100vh - 3em);
    padding: 5em 2em 2em 2em;
    margin-top: 3.1em; }
    #cnCarr #rowcarr {
      margin: 0 auto 1.5em auto; }
    #cnCarr #imgcarr {
      margin: 0 auto;
      padding: 0;
      max-width: 100%;
      min-width: 0; }
    #cnCarr #coltitparr {
      margin: 2.5em 1em 0 1em;
      max-width: 100%; }
  .navbar-brand {
    margin: 0 0 0 1.5em; }
  .navbar-toggler {
    margin: 0 .7em 0 0; }
  .navbar-toggler-icon {
    width: 1.3em;
    height: 1.3em; }
  #navb .navbar-toggler {
    font-size: 1.3em; }
  #navb .nav-link {
    padding: .5em 0; }
  #navb #pr {
    margin: .5em 0 0 0;
    padding: .5em 0; }
  #navb #ul {
    margin: 0 0 .5em 0;
    padding: .5em 0; }
  #cnPromos #elempromos #imgpromos {
    padding: 0 1.6em; }
  #cnServicios #cnelemserv {
    margin: 0 auto; }
  #cnServicios #elemserv {
    padding: 0 4.7em;
    min-width: 10em;
    max-width: 100%; }
  #cnAcerca #cnelimg #imgelim {
    padding: 0 2.5em; }
  #cnAcerca #cnelimg #titpar {
    margin: 3em auto 0 auto;
    padding: 0 2.5em;
    max-width: 100%;
    min-width: 1em; }
  #cnMaria {
    margin: 4em auto 4em auto;
    padding: 0 2.5em !important;
    min-width: 1em;
    max-width: 100%; }
  #cnContacto {
    padding: 0 1em 2.5em 1em; }
    #cnContacto #subtit {
      font-size: 1.2em; }
    #cnContacto #cnDatos {
      margin: 0 0 2em 0; }
  #cnDatos p {
    font-size: 1.1em !important; }
    #cnDatos p #cnDato p {
      font-size: 1.1em !important; }
    #cnDatos p a {
      font-size: 1.18em !important; }
  #cnFooter p {
    font-size: 0.7em; } }
